In [1]:
# Impor file yang diperlukan untuk submisi akhir.
import numpy as np
import pandas as pd

In [2]:
# Prediksi pertama.
prediction_0 = pd.read_csv('../input/bdc-sd2021-data-tambahan/test_preds_1_03_03_0.csv').iloc[:, 0]
prediction_0

0      26.341276
1      26.543330
2      28.440525
3      25.208000
4      30.853954
         ...
985    28.660467
986    28.481554
987    26.923548
988    25.371737
989    23.192972
Name: 0, Length: 990, dtype: float64

In [3]:
# Prediksi kedua.
prediction_1 = pd.read_csv('../input/bdc-sd2021-data-tambahan/test_preds_1_04_01_0.csv').iloc[:, 0]
prediction_1

0      24.763248
1      27.542997
2      26.609253
3      25.960245
4      26.320919
         ...
985    28.779148
986    27.000145
987    25.223616
988    24.625957
989    25.300568
Name: 0, Length: 990, dtype: float64

In [4]:
# Prediksi ketiga.
prediction_2 = pd.read_csv('../input/bdc-sd2021-data-tambahan/test_preds_1_04_01_1.csv').iloc[:, 0]
prediction_2

0      25.655466
1      26.799063
2      26.437029
3      27.722140
4      25.416120
         ...
985    25.198900
986    25.248188
987    26.336412
988    25.104937
989    26.597425
Name: 0, Length: 990, dtype: float64

In [5]:
# Prediksi keempat.
prediction_3 = pd.read_csv('../input/bdc-sd2021-data-tambahan/test_preds_1_04_01_2.csv').iloc[:, 0]
prediction_3

0      26.341003
1      27.881073
2      27.414585
3      26.745600
4      26.757060
         ...
985    27.378551
986    26.091764
987    26.751791
988    23.654373
989    27.307749
Name: 0, Length: 990, dtype: float64

In [6]:
# Prediksi kelima.
prediction_4 = pd.read_csv('../input/bdc-sd2021-data-tambahan/test_preds_1_04_01_4.csv').iloc[:, 0]
prediction_4

0      25.046722
1      26.820332
2      26.404518
3      28.454271
4      28.236654
         ...
985    29.626627
986    24.851566
987    25.251234
988    25.533180
989    25.107480
Name: 0, Length: 990, dtype: float64

In [7]:
# Prediksi yang dikompilasi.
prediction = pd.DataFrame()
prediction['model_0'] = prediction_0
prediction['model_1'] = prediction_1
prediction['model_2'] = prediction_2
prediction['model_3'] = prediction_3
prediction['model_4'] = prediction_4
prediction

       model_0    model_1    model_2    model_3    model_4
0    26.341276  24.763248  25.655466  26.341003  25.046722
1    26.543330  27.542997  26.799063  27.881073  26.820332
2    28.440525  26.609253  26.437029  27.414585  26.404518
3    25.208000  25.960245  27.722140  26.745600  28.454271
4    30.853954  26.320919  25.416120  26.757060  28.236654
..         ...        ...        ...        ...        ...
985  28.660467  28.779148  25.198900  27.378551  29.626627
986  28.481554  27.000145  25.248188  26.091764  24.851566
987  26.923548  25.223616  26.336412  26.751791  25.251234
988  25.371737  24.625957  25.104937  23.654373  25.533180
989  23.192972  25.300568  26.597425  27.307749  25.107480

[990 rows x 5 columns]

In [8]:
# Menghitung rata-rata prediksi.
final_prediction = np.round(prediction.mean(axis = 1)).astype(int)
final_prediction

0      26
1      27
2      27
3      27
4      28
       ..
985    28
986    26
987    26
988    25
989    26
Length: 990, dtype: int64

In [9]:
# Menyimpan submisi akhir.
submission = pd.read_csv('../input/bdc-satriadata2021/submission.csv')
submission['usia'] = final_prediction
submission.to_csv('submission.csv', index = False)
submission

                                       id  usia
0    005093b2-8c4b-4ed7-91c3-f5f4d50f8d27    26
1    0052554e-069e-4c43-beb0-0885e8f7684e    27
2    0092b954-1143-4a95-a17b-1edfa6af3b01    27
3    009fc28b-fe9b-441d-b8a2-ea8b7ae6ca16    27
4    00d0e306-06fe-45d8-ae6c-6f83ab8f7810    28
..                                    ...   ...
985  feb9e70f-4182-4500-866d-9b95657e727c    28
986  fed67ed2-620a-4ebf-b61e-16ef3d9b93f7    26
987  ff14c77e-c3c2-46db-9341-30de4130ef8a    26
988  ff662f3f-8c76-4d27-a73e-c43c4353f798    25
989  ffa30e4a-c056-4a2d-8c63-d266810d0791    26

[990 rows x 2 columns]